// Colors

// Main Primary color */
$color-primary-0: #AA6B39;	
$color-primary-1: #E8BF9E;
$color-primary-2: #C99266;
$color-primary-3: #8B4A16;
$color-primary-4: #6C3000;

// Main Secondary color (1) */
$color-secondary-1-0: #AA8A39;
$color-secondary-1-1: #E8D39E;
$color-secondary-1-2: #C9AD66;
$color-secondary-1-3: #8B6A16;
$color-secondary-1-4: #6C4D00;

// Main Secondary color (2) */
$color-secondary-2-0: #313A75;
$color-secondary-2-1: #73799F;
$color-secondary-2-2: #4F578A;
$color-secondary-2-3: #1A235F;
$color-secondary-2-4: #09124A;

// Main Complement color */
$color-complement-0: #226765;
$color-complement-1: #608D8B;
$color-complement-2: #3E7A78;
$color-complement-3: #0D5452;
$color-complement-4: #00413F;

:root {
  --scrollpos: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  color: #aed6d4;
  font-family: 'Londrina Solid', cursive;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  background-color: black;

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 0.5%;

    li {
      padding: 12px 20px;
      color: $color-complement-1;
      font-family: 'Share';
      font-size: 1.15rem;
    }

    li:hover {
      text-decoration: underline;
      cursor: pointer;
      background-color: #333;
      color: $color-primary-1;
    }
  }

  // .tri_nav {
  //   border-top-width: 0vh;
  //   border-right-width: 100vw;
  //   border-bottom-width: calc(var(--scrollpos) * 0.3vh);
  //   border-left-width: 0vw;
  //   border-color: transparent transparent b#000000 transparent;
  // }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Londrina Solid', cursive;
  // font-weight: 100;
  font-size: 2rem;
}

h2 {
  font-size: 2.3rem;
}

p {
  font-size: 1.5rem;
}

section {
  display: grid;
  align-content: center;
  // text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  // z-index: 5;
}

.container {
  width: 100%;
  overflow: hidden;
}

.content-wrapper {
  width: 80%;
  margin: 0% auto;
  z-index: 2;
}

.hero {
  height: 120vh;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-attachment: fixed;

  background-blend-mode: overlay;
  background-color: #113433eb;

  color: $color-primary-1;
    
  h1 {
    margin: 1% 0;
    font-size: 5rem;
    z-index: 6;
    transform: translateY(calc(var(--scrollpos) * 5px));
  }

  h3 {
    margin: 0;
    font-weight: lighter;
    transform: translateY(calc(var(--scrollpos) * 2.5px));
  }
}

.tris {
  border-style: solid;
  position: absolute;
  // top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.tri_0 {
  border-top-width: 0vh;
  border-right-width: 100vw;
  border-bottom-width: calc(var(--scrollpos) * 0.7vh);
  border-left-width: 0vw;
  border-color: transparent transparent $color-complement-1 transparent;
}

.tri_1 {
  border-top-width: 0vh;
  border-right-width: 100vw;
  border-bottom-width: calc(var(--scrollpos) * 0.5vh);
  border-left-width: 0vw;
  border-color: transparent transparent $color-complement-2 transparent;
}

.tri_2 {
  border-top-width: 0vh;
  border-right-width: 100vw;
  border-bottom-width: calc(var(--scrollpos) * 0.30vh);
  border-left-width: 0vw;
  border-color: transparent transparent #266f6d transparent;
}

.tri_3 {
  border-top-width: 0vh;
  border-right-width: 100vw;
  border-bottom-width: calc(var(--scrollpos) * 0.15vh);
  border-left-width: 0vw;
  border-color: transparent transparent $color-complement-0 transparent;
}

.about {
  background-color: $color-complement-0;

  h2 {
    transform: translateY(calc(var(--scrollpos) * -10px + 765px));
  }

  .tri_about {
    border-top-width: 0vh;
    border-right-width: 0vw;
    border-bottom-width: calc(var(--scrollpos) * 1vh);
    border-left-width: 100vw;
    border-color: transparent transparent $color-complement-2 transparent;
    z-index: 1;
  }
}

.projects {
  background-color: #304141;
  // border: solid white 1px;

  .gallery {
    height: 40vh;
    width: 100vw;
    padding: 0 2%;
    margin-bottom: 0;
    // background-color: $color-complement-1;
    transform: translateY(calc(var(--scrollpos) * -5.5px + 750px));
    opacity: calc((var(--scrollpos) - 120) / 25); // maybe use regular animation istead of scrolling for this.
    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .square {
      width: 400px;
      height: 300px;
      margin: 0 2%;
      background-color: $color-secondary-1-1;
      flex: 0 0 auto;
      // opacity: calc((var(--scrollpos) - 193) / 40);
    }
  }
}

.skills {
  background-color: $color-complement-3;
  // margin-bottom: 50vh;

  .tri_skills {
    border-top-width: 0vh;
    border-right-width: 100vw;
    border-bottom-width: 100vh;
    border-left-width: 0vw;
    border-color: transparent transparent #023a38 transparent;
    z-index: 1;

    transform: rotateZ(calc(var(--scrollpos) * 1.8deg)) scale(calc((var(--scrollpos) - 100) / 100));
    transform-origin: top left;
    opacity: calc((var(--scrollpos) - 100) / 100);
  }
}

// .footer {
//   position: fixed;
//   bottom: 0;
//   height: 50vh;
//   // width: 100vh;
//   background-color: #023a38;
//   z-index: -1;
// }

// 1 + (translateZ * -1) / perspective


// $rows: 4; // (actual num of rows + regular) - 2
// @for $i from 0 through $rows {
//   // $x: ($rows - $i);
//   $t: calc(-1 * var(--scrollpos));
//   .row_#{$i} {
//     // transform: translateZ((-$perspective * $x) / 2) scale($x + 1);
//     transform: translateY($t);
//   }
// }

// CSS Triangles
.row_0 {
  height: 100vh;
  width: 100vw;
  background-color: $color-primary-4;
  // transform: translateY(calc(var(--scrollpos) * -5));
}

.row_1 {
  height: 80vh;
  width: 100vw;
  background-color: $color-primary-3;
  transform: translateY(calc(var(--scrollpos) * 4px));
  // border-style: solid;
  // border-width: 0px 437vw 100vh 250vw;
  // border-color: transparent transparent $color-primary-3 $color-primary-3;
}

.row_2 {
  height: 60vh;
  width: 100vw;
  background-color: $color-primary-0;
  transform: translateY(calc(var(--scrollpos) * 3px));
  // border-style: solid;
  // border-width: 0 383vw 92vh 435vw;
  // border-color: transparent transparent $color-primary-0 transparent;
}

.row_3 {
  height: 40vh;
  width: 100vw;
  background-color: $color-secondary-1-0;
  transform: translateY(calc(var(--scrollpos) * 2px));
  // border-style: solid;
  // border-width: 0 145vw 100vh 0;
  // border-color: transparent transparent $color-secondary-1-0 transparent;
}

.row_4 {
  height: 20vh;
  width: 100vw;
  background-color: $color-complement-0;
  transform: translateY(calc(var(--scrollpos) * 1px));
  // border-style: solid;
  // border-width: 0 0 106vh 139vw;
  // border-color: transparent transparent $color-secondary-2-3 transparent;
}

// .row_5 {
//   border-style: solid;
//   border-width: 0 100vw 77vh 0;
//   border-color: transparent transparent $color-secondary-2-0 transparent;
// }

// .row_6 {
//   border-style: solid;
//   border-width: 0 0 80vh 205vw;
//   border-color: transparent transparent $color-complement-4 transparent;
//   // border-top-width: 0;
//   // border-right-width: 0;
//   // border-bottom-width: 87vh;
//   // border-left-width: var(--scrollpos);
// }

// .row_7 {
//   border-style: solid;
//   border-width: 0 100vw 30vh 0;
//   border-color: transparent transparent $color-complement-0 transparent;
// }
