// Colors

// Main Primary color */
$color-primary-0: #AA6B39;	
$color-primary-1: #E8BF9E;
$color-primary-2: #C99266;
$color-primary-3: #8B4A16;
$color-primary-4: #6C3000;

// Main Secondary color (1) */
$color-secondary-1-0: #AA8A39;
$color-secondary-1-1: #E8D39E;
$color-secondary-1-2: #C9AD66;
$color-secondary-1-3: #8B6A16;
$color-secondary-1-4: #6C4D00;

// Main Secondary color (2) */
$color-secondary-2-0: #313A75;
$color-secondary-2-1: #73799F;
$color-secondary-2-2: #4F578A;
$color-secondary-2-3: #1A235F;
$color-secondary-2-4: #09124A;

// Main Complement color */
$color-complement-0: #226765;
$color-complement-1: #608D8B;
$color-complement-2: #3E7A78;
$color-complement-3: #0D5452;
$color-complement-4: #00413F;

// Parallax
$perspective: 100px;

:root {
  --scrollpos: 0vh;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.container {
  width: 100%;
  overflow: hidden;
}

.hero {
  height: 120vh;
  display: grid;
  place-content: center;
  // background-color: $color-complement-2;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-attachment: fixed;

  h1 {
    font-size: 4rem;
    color: $color-secondary-1-1;
    z-index: 6;
    transform: translateY(calc(var(--scrollpos) * 5px));
  }

  hr {
    height: 5vh;
    width: 100vw;
    margin: 0;
    border: none;
  }

  // $height: calc(var(--scrollpos) * 0.7vh);
// $scale: calc(1 - (var(--scrollpos) / 100));

  .tris {
    // height: $height;
    
    // transform: rotateZ($rotate) scale($scale); // translateZ(-4px);
    // width: 10vw;
    // margin: 25% auto;

    position: absolute;
    // top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
  }

  .tri_0 {
    border-style: solid;
    border-top-width: 0vh;
    border-right-width: 100vw;
    border-bottom-width: calc(var(--scrollpos) * 0.7vh);
    border-left-width: 0vw;
    border-color: transparent transparent $color-complement-1 transparent;
    transform-origin: bottom right;
  }

  .tri_1 {
    border-style: solid;
    border-top-width: 0vh;
    border-right-width: 100vw;
    border-bottom-width: calc(var(--scrollpos) * 0.5vh);
    border-left-width: 0vw;
    border-color: transparent transparent $color-complement-2 transparent;
    transform-origin: bottom right;
  }

  .tri_2 {
    border-style: solid;
    border-top-width: 0vh;
    border-right-width: 100vw;
    border-bottom-width: calc(var(--scrollpos) * 0.3vh);
    border-left-width: 0vw;
    border-color: transparent transparent #266f6d transparent;
    transform-origin: bottom right;
  }

  .tri_3 {
    border-style: solid;
    border-top-width: 0vh;
    border-right-width: 100vw;
    border-bottom-width: calc(var(--scrollpos) * 0.1vh);
    border-left-width: 0vw;
    border-color: transparent transparent $color-complement-0 transparent;
    transform-origin: bottom right;
  }

  // .top-right {
  //   background-color: $color-secondary-2-1;
  //   transform: rotate(calc(var(--scrollpos) * 1deg));
  //   // transform-origin: left;
  // }

  // $rtl: calc(var(--scrollpos) * -1deg);
  // .top-left {
  //   background-color: $color-secondary-2-2;
  //   transform: rotate($rtl);
  //   // transform-origin: right;
  // }
}

// nav {
//   position: fixed;
//   top: 0;
//   z-index: 99;
//   width: 100vw;
//   background-color: black;
// }

// nav ul {
//   display: flex;
//   justify-content: space-evenly;
//   list-style: none;
// }

// nav ul li {
//   color: #608D8B;
// }

// nav ul li:hover {
//   text-decoration: underline;
//   cursor: pointer;
// }

// .row {
//   width: 100vw;
//   position: absolute;
//   // top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   // transform: translateY(calc(var(--scrollpos) * 1));
// }

.about {
  background-color: $color-complement-0;
  // border-top: solid white 1px;
}

.projects {
  background-color: #304141;
  // border: solid white 1px;

  .gallery {
    position: absolute;
    top: 120%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 40vh;
    width: 100vw;
    padding: 0 2%;
    background-color: $color-complement-1;
    transform: translateY(calc(var(--scrollpos) * -4.5px));
    opacity: 1; //calc((var(--scrollpos) - 193) / 40);
    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .square {
      width: 20vw;
      height: 70px;
      margin: 0 2%;
      background-color: $color-primary-1;
      flex: 0 0 auto;
      // opacity: calc((var(--scrollpos) - 193) / 40);
    }
  }
}

.contact {
  background-color: #72dac0;
}

// 1 + (translateZ * -1) / perspective


// $rows: 4; // (actual num of rows + regular) - 2
// @for $i from 0 through $rows {
//   // $x: ($rows - $i);
//   $t: calc(-1 * var(--scrollpos));
//   .row_#{$i} {
//     // transform: translateZ((-$perspective * $x) / 2) scale($x + 1);
//     transform: translateY($t);
//   }
// }

// CSS Triangles
.row_0 {
  height: 100vh;
  width: 100vw;
  background-color: $color-primary-4;
  // transform: translateY(calc(var(--scrollpos) * -5));
}

.row_1 {
  height: 80vh;
  width: 100vw;
  background-color: $color-primary-3;
  transform: translateY(calc(var(--scrollpos) * 4px));
  // border-style: solid;
  // border-width: 0px 437vw 100vh 250vw;
  // border-color: transparent transparent $color-primary-3 $color-primary-3;
}

.row_2 {
  height: 60vh;
  width: 100vw;
  background-color: $color-primary-0;
  transform: translateY(calc(var(--scrollpos) * 3px));
  // border-style: solid;
  // border-width: 0 383vw 92vh 435vw;
  // border-color: transparent transparent $color-primary-0 transparent;
}

.row_3 {
  height: 40vh;
  width: 100vw;
  background-color: $color-secondary-1-0;
  transform: translateY(calc(var(--scrollpos) * 2px));
  // border-style: solid;
  // border-width: 0 145vw 100vh 0;
  // border-color: transparent transparent $color-secondary-1-0 transparent;
}

.row_4 {
  height: 20vh;
  width: 100vw;
  background-color: $color-complement-0;
  transform: translateY(calc(var(--scrollpos) * 1px));
  // border-style: solid;
  // border-width: 0 0 106vh 139vw;
  // border-color: transparent transparent $color-secondary-2-3 transparent;
}

// .row_5 {
//   border-style: solid;
//   border-width: 0 100vw 77vh 0;
//   border-color: transparent transparent $color-secondary-2-0 transparent;
// }

// .row_6 {
//   border-style: solid;
//   border-width: 0 0 80vh 205vw;
//   border-color: transparent transparent $color-complement-4 transparent;
//   // border-top-width: 0;
//   // border-right-width: 0;
//   // border-bottom-width: 87vh;
//   // border-left-width: var(--scrollpos);
// }

// .row_7 {
//   border-style: solid;
//   border-width: 0 100vw 30vh 0;
//   border-color: transparent transparent $color-complement-0 transparent;
// }
